div #scoreboard {
    position: relative;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    width : 515px;
    height: 255px;
    background-image: url("../images/textbackground.png");
    margin-top: -550px;
    margin-left: 100px;
    padding-left: 85px;
    padding-top: 60px;
}
#scoreboard ul {
    list-style: none;
}

div #playbutton {
    background-image: url("../images/Buttons/play.png");
    width: 319px;
    height: 219px;
    margin-left:-150px;
    margin-top:100px;
}
div #creditsbutton {
    background-image: url("../images/Buttons/credits.png");
    width: 443px;
    height: 219px;
}
